body{
    background-color: #f0f8ff;
    font-family: Calibri;
}
legend{
    background-color: #dddddd;
    font-size: 1.2em;
    width: 65em;
    border: 1px solid #000000;
    text-align: center;
}
.form{
    background-color: #faebd7;
    border: 1px solid #000000;
    margin: 5%;
    padding:5%;
    width: 80em;
}
button.submit{
    background-color: #90ee90;
    font-size: small;
    margin: .5em;
    padding:.5em;
}
button.cancel{
    background-color: #ff6347;
    font-size: small;
    margin: .5em;
    padding:.5em;
}
table,th,td{
    background-color: #faebd7;
    width: 70em;
    margin: .5em;
    padding:.5em;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
th{
    background-color: #dddddd;
    font-size: medium;
}
td:hover {
    background-color: #f5f5f5;
}